<html>
	{% extends "base.html" %}
	{% block title %} Contact us {% endblock  %}
	
	{% block content %}

	<h1>Hi! if you are here it is because you want to contact us and this is great! </h1>
	<p> Please send us an email using the form below and we will contact you back as soon as possible. We take any feedback as the best way to optimise our job and to maximize our users' experience. Please let us know what we do wrong, what we need to work on, all the issues you have with the website, and we will do the best to improve and sort your problems out.</p>
	<p>Please bear in mind that our team is small at the moment and we might encounter in difficulties to reply to your email, but we will try to reply ASAP. </p>


	<h2>Contact</h2>
	
	{% if success %}
		<p> Thank you for you message. We will contact you back as soon as possible </p>
	{% else %}
		{% for message in form.name.errors %}
			<div class="flash"> {{ message }} </div>
		{% endfor %}
		
		{% for message in form.email.errors %}
                        <div class="flash"> {{ message }} </div>
                {% endfor %}

		{% for message in form.subject.errors %}
                        <div class="flash"> {{ message }} </div>
                {% endfor %}

		{% for message in form.message.errors %}
                        <div class="flash"> {{ message }} </div>
                {% endfor %}

		<form action="{{ url_for('contact') }}" method=post>
			{{ form.name.label }}
			{{ form.name }}

			{{ form.email.label }}
			{{ form.email }}

			{{ form.subject.label }}
			{{ form.subject }}

			{{ form.message.label }}
			{{ form.message }}

			{{ form.submit }}
		</form>

	{% endif %}
	{% endblock %}
</html>
