<html>
	{% extends "base.html" %}
	{% block title %} Dashboard {% endblock title %}

	{% block content %}

	<h1> Welcome Spukaxis !! This is your dashboard! </h1>
	<h2> If you want to upload a new file click here </h2> <a class="button" href="{{ url_for('upload') }}"><button>Upload</button></a>
	<h2> If you want to read your notes click here </h2> <button>Read</button>

	{% for note in allnotes %}
		<h3>{{ note['title_name'] }} </h3>

	{% endfor %}
	<h2> If you want to create a new note click here</h2> <a class="button" href="{{ url_for('note') }}" ><button>New </button> </a>
	<br>
	{% endblock content %}

</html>

