<html>
	{% extends "base.html" %}
	{% block title %} Dashboard {% endblock title %}

	{% block content %}

	<h1> Welcome {{ session['username'] }} !! This is your dashboard! </h1>
	<h2> If you want to upload a new file click here </h2> <a class="button" href="{{ url_for('upload') }}"><button>Upload</button></a>
	<h2> If you want to read your notes click here </h2> <button>Read</button>
	<a> somthing to test</a>
	<table>
	{% for note in allnotes %}
	<tr>
		<td>{{ note['title_name'] }}</td> <button action="/note/" method="DELETE">Delete</button>
		<td>{{ note['note_body'] }} </td>
		<td> <button action="/note" method="DELETE">Delete</button></td>
	</tr>
	<p> this is to show that this loop works </p>
	{% endfor %}
	</table>
	{{ session['username'] }}

	<h2> If you want to create a new note click here</h2> <a class="button" href="{{ url_for('note') }}" method="POST" ><button>New </button> </a>
	<input type="text" name="title" value="{{ request.form.title }}" > </input>
	<br>
	{% endblock content %}

</html>

