<html>
	{% extends "base.html" %}
	{% block title %} Dashboard {% endblock title %}

	{% block content %}
<div class="body-text">
	<div class="dash">
	<h1> Welcome {{ session['username'] }} !! This is your dashboard! </h1>
	<h2> If you want to upload a new file click here  <a class="btn btn-light button" href="{{ url_for('upload') }}"><button class="btn btn-light">Upload</button></a></h2>
	<h2> If you want to read your notes click here </h2> 
	

	<table class="table table-dark">
		{% for note in allnotes %}
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Title</th>
	      <th scope="col">Body</th>
	  		<th scope="col"> UserID</th>
	  		<th scope="col">  <a  href="#" >Edit</a></th>
	  		<th scope="col">  <a  href="#" >Delete</a></th>
		</tr>

		<tr>
			<td>
				{{ note[0] }}
			</td>
			<td>
				{{ note[1] }}
			</td>
			<td>
				{{ note[2] }}
			</td>
			<td>
				{{ note[3] }}
			</td>
			<td>Not yet Implemented</td>
			<td>Not yet Implemented</td>
		</tr>
		{% endfor %}
	</thead>
</table>

	

	<h2> If you want to create a new note click here <a class="button btn btn-light" href="{{ url_for('note') }}" method="POST" ><button class="btn">New </button> </a></h2> 
	
	<br>
</div>
</div>
	{% endblock content %}
	{% block footer  %}

<footer> &copy; Simone Piazzini, ThistleNote 2020 </footer>

{% endblock footer  %}

</html>

