<html>
	{% extends "base.html"  %}
	{% block title %} Help {% endblock  %}
	{% block content  %}
	<div class="body-text">
	<div id="help">
	<h1>Hi! If you are here is because you want to know more on how to use ThistleNote, and we are here to help!</h1>

	<h2>Please click on the video below in order to see a short capture on how the app works, but if you prefer to go through a normal tutorial just scroll down a bit and you will have all the explanations needed. If you don't see the video yet, it means that it will be uploaded soon. Please accept our biggest apologies</h2>
	<h3>If you want to start using the app, the first thing to do is to sign up. If you click the signup button on the navigation bar, it will redirect you to the page wher you can signup</h3>
	<h3>Once you are signed up, you can login and you will be redirect to a Dashboard. If you find some dummy notes, just ignore them, those are there to show what it should happen if you had some notes at the beginning.</h3>
	<h3>You can then decide to upload a file, which will be stored in a directory, so you can keep safe.</h3>
	<h3>If you want to start writing your note, please go ahead clicking on new, which will redirect you to create your new note. Bear in mind that not too many optionalities have been implemented there, you can at the moment just will the box with some of your text, but they will be safe!</h3>
	<h4>Contact is for you to send us any request, we will read as soon as possible, while "About" is to know more about the authors.</h4>
	<div>
	</div>
	{% endblock %}

</html>
