<html>
	{% extends "base.html" %}
	{% block title %} Login {% endblock %}
	{% block content %}
<div class="body-text">
	<h3 class="alert alert-danger" role="alert"> {{ msg }} </h3>

	<div id="login-form" class="col-md-12">
		<form id="log" action="/login"  method="POST">
			
			<label>Username </label>
			<input type="text" name="username" placeholder="Username" value="{{ request.form.username }}">
			<br>
			<label>Password</label>
			<input type="password" name="Password" placeholder="Password" value="{{ request.form.password }}">

			<button class="btn btn-light" type="submit"> Login </button>
		</form>
	</div>

</div>
	{% endblock %}
</html>
