<!DOCTYPE html>
<html>
<head>

        {{ pagedown.include_pagedown() }}

</head>
<body>
    {% if text %}
    <div>
        <p>
            Preview
        </p>
        <pre>
            {{ text }}
        </pre>
    </div>
    {% endif %}
	{% block markdown %}
	<form action="/markdown"method="POST">
		{{ form.csrf_token }}
        <div>
        <b>{{ form.pageDown.label }}</b>
        {{ form.pageDown(rows = 10) }}
       <br>
        </div>
        <div>
            {{ form.pageDown.label }}
            {{ form.pageDown(only_preview=True) }}
            
        </div>
        <button type="button">BOLD</button>
         {{ form.submit }}
    </form>
    
    <div></div>
<script>
$(document.body).on('click', 'button', function() {

    var val=$('textarea').val();
    var bolded=val.replace(/\*\*[A-z0-9]+\*\*/gi, '<span style="font-weight: bold; color: blue;">' + val + '</span>');
    bolded = bolded.replace(/\*\*/gi, "");
    
    $('div').html(bolded);
});
</script>
{% endblock %}
</body>

</html>
