<html>

	{% extends "base.html" %}
	{% block content %}

	<fieldset class="txt-bar"> 
		<button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text"><b>B</b> </button>
		<button class="fontStyle" onclick="document.execCommand('italic',false,null);" title="ItalicizeHighlighted Text"> <i> I </i> </button>
		<button class="fontStyle" onclick="document.execCommand( 'underline',false,null);"><u>U</u> </button>
		<button class="fontStyle" onclick="document.execCommand( 'backColor', false, 'yellow');"> <b>H</b> </button>

	</fieldset>

         <div id="editor1" contenteditable="true" style="width: 75%; height: 100%; float: right;text-align:left; border-style:solid;padding:2px;">
                 The quick brown fox jumped over the lazy dog.
         </div>

	{% endblock content %}
</html>
