<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript> </script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	</head>
	{% extends "base.html" %}
	{% block content %}
	<body>
	<fieldset class="txt-bar"> 
		<button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text"><b>B</b> </button>
		<button class="fontStyle" onclick="document.execCommand('italic',false,null);" title="ItalicizeHighlighted Text"> <i> I </i> </button>
		<button class="fontStyle" onclick="document.execCommand( 'underline',false,null);"><u>U</u> </button>
		<button class="fontStyle" onclick="document.execCommand( 'backColor', false, 'yellow');"> <b>H</b> </button>
		<div class="dropdown dropdown-menu">
			<button onclick="dropDown()" class="dropbtn">Fonts</button>
			<div id="fontDropdown" class="dropD-content">
				<a id="Georgia">Georgia</a>
				<a id="Palatino">Palatno Linotype</a>
			</div>
		</div>
	</fieldset>
<form class="save" action="/note/" method="POST">

	<div id="editor1" placeholder="Please insert here your text" contenteditable="true" > Click on the buttons to change me! <a href"#"> link </a>
		 
	</div><textarea id="note" name="body" placeholder="Please insert notes here"   contenteditable="true"value="{{ request.form.body }}"></textarea> 
</div>
	<label >Title</label>
	<input type="text" name="title" value="{{ request.form.title }}" placeholder="Title"> 
<button type="submit" class="btn btn-light save" action="/note/" method="POST" > Save </button>
	</form>
	<p>If you want to see what I would have loved<br> to implement and add to this app
	please, <br>go <a href="/markdown">here</a> , it is a good example. <br>That is not my own workd, full credit in the <br>page</p>
	{% endblock content %}
	</body>
	 <script src="{{ url_for('static', filename='js/main.js') }}"></script>
	 <script >function myFunction() {
  document.getElementById("fontDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropD-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}</script>
</html>
