<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript> </script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	</head>
	{% block content %}

<script src="/static/js/main.js"></script>
	<fieldset class="txt-bar"> 
		<button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text"><b>B</b> </button>
		<button class="fontStyle" onclick="document.execCommand('italic',false,null);" title="ItalicizeHighlighted Text"> <i> I </i> </button>
		<button class="fontStyle" onclick="document.execCommand( 'underline',false,null);"><u>U</u> </button>
		<button class="fontStyle" onclick="document.execCommand( 'backColor', false, 'yellow');"> <b>H</b> </button>
		<div class="dropdown">
			<button onclick="dropDown()" class="dropbtn">Fonts</button>
			<div id="fontDropdown" class="dropD-content">
				<a id="Georgia">Georgia</a>
				<a id="Palatino">Palatno Linotype</a>
			</div>
		</div>
		<button class="save" {{ url_for('save') }}> Save </button>
	</fieldset>

         <div id="editor1" contenteditable="true" style="width: 75%; height: 100%; float: right;text-align:left; border-style:solid;padding:2px;">
                 The quick brown fox jumped over the lazy dog.
         </div>

	<div id="splitter">
    <div>Area 1</div>
    <div>Area 2</div>
	<button> Make new folder </button>
</div>
	<script>

$(document).ready(function() {
    $("#splitter").kendoSplitter();
});


$("#splitter").kendoSplitter({
    panes: [
        { collapsible: true, min: "100px", max: "300px" },
        { collapsible: true }
    ],
    orientation: "vertical"
});

function dropDown() {
  document.getElementById("fontDropdown").classList.toggle("show");
}
	</script>
	{% endblock content %}
</html>
